<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" alt="Logo"/>
    </a>
    <div class="exchange-rates mx-3 border p-2 rounded" *ngIf="exchangeRates">
      <span class="small text-muted">1 TRY = {{ exchangeRates.usd | number: '1.2-2' }} USD</span><br>
      <span class="small text-muted">1 TRY = {{ exchangeRates.eur | number: '1.2-2' }} EUR</span>
    </div>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Ürün Ara..."
        aria-label="Search"
        (input)="onSearch($event)"
      />
    </form>
  </div>
</nav>
